.s-documents__content {
  padding:  15px 22px;
  color: $color-gray;
  font-size: 14px;

  .font {
    font-size: 12px;
    display: block;
    margin-bottom: 20px;
  }

  .italic {
    font-style: italic;
    display: block;
    margin-bottom: 20px;
  }

  .sub {
    font-weight: bold;
    text-decoration: underline;
  }

  a {
    color: $color-red;
    word-break: break-all;
  }
}

.s-documents__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.s-documents__item {
  padding-bottom: 20px;

  &:not(:first-child) {
    border-top: 1px solid #b9b9b9;
    padding-top: 20px;
  }
}

.s-documents__item-title {
  margin: 0;
  color: $color-red;
  font-weight: bold;
}

.s-documents__item-desc {
  margin: 0;
}