.s-important-info__title-holder {
  background-color: #ffd200;
  padding: 18px 20px;

  img {
    vertical-align: middle;
    padding-right: 20px;
  }
}

.s-important-info__title {
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  color: $color-gray;
  font-size: 18px;
  margin: 0;
}

.s-imoportant-info__list {
  padding: 36px 20px;
  list-style: none;
  margin: 0;
}

.s-imoportant-info__item {
  color: $color-gray;
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;

  &:not(:last-child) {
    margin-bottom: 22px;
  }
}