.c-accordion__title-holder {
  background-color: $color-gray-dark;
  padding: 18px 20px 18px 61px;
  position: relative;
  cursor: pointer;

  img {
    padding-right: 22px;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
  }

  &:after {
    content: '';
    background-image: url('../images/arrow.jpg');
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    display: block;
    height: 20px;
    width: 13px;
    z-index: 2;
    transition: transform 0.3s ease;
  }

  &.is-active {
    &:after {
      transform: translateY(-50%) rotate(-90deg);
    }
  }
}

.c-accordion__title {
  display: inline-block;
  vertical-align: middle;
  color: $color-yellow;
  font-size: 18px;
  margin: 0;
}

.c-accordion__container {
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

@include respond-to(mobile) {
  .c-accordion__title-holder {
    padding-right: 32px;
    padding-left: 51px;

    img {
      left: 10px;
    }
  }
}