.c-flies-table__title-holder {
  width: 100%;
  background-color: $color-gray-light;
  padding: 12px 18px;
  width: 100%;
  font-size: 14px;
  margin: 0;
}

.c-flies-table__title {
  margin: 0;
  color: $color-gray-dark;
  font-size: 14px;
  text-transform: uppercase;
}

.c-flies-table {
  border: none;
  padding: 40px 22px;
  list-style: none;
  margin: 0;
}

.c-flies-table__row {
  padding: 12px 0;
  line-height: 24px;

  &:not(:last-child) {
    border-bottom: 1px solid #b9b9b9;
  }
}

.c-flies-table__row-image-holder {
  width: 155px;
  display: inline-block;
  margin-right: 30px;
  vertical-align: middle;

  img {
    margin-left: auto;
    display: block;
  }
}

.c-flies-table__data-text {
  margin: 0;
  display: inline-block;
  color: $color-gray-dark;
  font-size: 14px;
  max-width: 570px;
  vertical-align: middle;
}

.c-flies-table__row-title {
  color: $color-red;
  text-transform: uppercase;
  margin-bottom: 0;
}

@media all and (max-width: 816px) {
  .c-flies-table__row-image-holder {
    width: 100%;
    margin-right: 0;
    padding-bottom: 20px;

    img {
      display: block;
      margin-right: auto;
      margin-left: 0;
    }
  }
}