.c-important-info {
  margin: 0;
  padding: 0;
  list-style: none;
}

.c-important-info__item {
  font-size: 14px;
  color: $color-gray;

  &:not(:last-child) {
    margin-bottom: 15px;
  }

  &--image {
    text-align: center;
    padding:15px 0 30px;
  }
}

.c-important-info__alert-holder {
  margin-top: 30px;
  display: flex;

  img {
    padding-right: 0;
  }
}

@include respond-to(mobile-tablet) {
  .c-important-info__alert-holder {
    flex-wrap: wrap;
    justify-content: center;
    max-width: 400px;
    margin: 30px auto 0;
  }
}